body{
    background-color: #27272c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock{
    width: 222px;
    height: 103px;
    display: flex;
}
.time-unit{
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.unit{
    width: 40%;
    height: 100%;
}
.pip{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 5px;
    background-color: #525252;
}
.light{
    background-color: forestgreen ;
    transform: scale(1.1);
}
.digital-time{
    width: 15px;
    height: 20px;
    background-color: rgb(1, 121, 173);
    margin: 5px;
    padding-left: 5px;
    border-radius: 3px;
}